{{define "head"}}<title>Add Note</title>{{end}}
{{define "body"}}
<h1>Add Note</h1>
<form class="" action="/notes/save" method="post">
  <div class="form-group">
    <label for="">Title:</label>
    <input type="text" name="title" value="" class="form-control">
  </div>
  <div class="form-group">
    <label for="">Description:</label>
    <textarea type="text" name="description" class="form-control"></textarea>
  </div>
  <p>{{.}}</p>
  <button type="submit" name="button" class="btn btn-default">Submit</button>
</form>
{{end}}
