
{{define "head"}}<title>Add Note</title>{{end}}
{{define "body"}}
<h1>Login</h1>
<form class="loginForm" action="/users/auth" method="post">
  <div class="form-group">
    <label for="">username:</label>
    <input type="text" name="username" value="" class="form-control">
  </div>
  <div class="form-group">
    <label for="">password:</label>
    <input type="password" name="password" value="" class="form-control">
  </div>
  <p>{{.}}</p>
  <button type="submit" name="button" class="btn btn-default">Submit</button>
</form>
{{end}}
