@charset "UTF-8";
body, div, dl, dt, dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote，th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
address,caption, cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
capation,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before, q:after{content:' '}
abbr,acronym{border:0;}
a{text-decoration: none !important;}
input{outline: none;}
label{display: inline-block;}
textarea{resize:none;outline: none;}
*{font-family: "microsoft yahei";font-size: 14px;}
.fl{float: left;}
.fr{float: right;}
.bn{border: none !important;}
.pr{position: relative;}
.pa{position: absolute;}
.ri{position: relative;}
.fn_clear:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.fn_clear { zoom: 1; /* for IE6 IE7 */ }
.fn-clear:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.fn-clear { zoom: 1; /* for IE6 IE7 */ }
.question .marginl{margin-left: 0px;}
body{position: relative;}
.h20{height: 20px;}
.h62{height: 62px;}
/*头部*/
.wrap{width: 1100px; margin: 0 auto;}
/*top*/
.topbar{height: 34px; line-height: 34px; background: #f5f5f5; border-bottom: 1px solid #ddd;}
.topbar a{transition: all .2s;}
.topbar a:hover{color: #0074ae;}
.topbar_l{position: relative; z-index: 2; float: left; color: #888;}
.topbar_l a{float: left; color: #888; font-size: 12px;}
.topbar_l a.back_yb{height: 14px; margin: 10px 12px 00px 0px; padding-right: 10px; border-right: 1px solid #ddd; line-height: 14px;}
.topbar_l .gw_icon{display: inline-block; margin: 0px 4px 0px 0px; vertical-align: top; *margin: 0px 4px 0px 0px; *vertical-align: middle; width: 16px; height: 13px; background: url(../images/index/new_index_sprite.png) no-repeat 0 -50px; transition: all .2s;}
.topbar_l a:hover .gw_icon{background-position: 0px -63px;}
.topbar_l .change_city{color: #888; line-height: 34px; font-size: 12px;}
.topbar_l .change_city:hover{color: #0074ae;}
.topbar_l .pit_city{margin-right: 5px; color: #333; line-height: 34px; font-size: 12px;}
.topbar_l .city_icon{position: relative; top: -3px; display: inline-block; margin: 13px 4px 0px 0px; width: 12px; height: 14px; background: url(../images/index/new_index_sprite.png) no-repeat -40px -50px; transition: all .2s;}
.topbar_l .city_icon:hover{background-position: -40px -64px;}
.topbar_l .city_pos{top: 30px; left: 0; border: 1px solid #ccc; box-shadow: 0px 2px 6px rgba(0,0,0,.2); border-radius: 0px;}
.topbar_l .city_list span:hover{background: #0074ae;}
.topbar_r{float: right; position: relative; z-index: 2; padding-right: 112px;}
.topbar_r li{float: left; margin-right: 15px;}
.topbar_r a{color: #888; font-size: 12px;}
.topbar_r .log_a{color: #ff6c00; font-size: 12px;}
.topbar_r .log_a:hover{color: #ff6c00;}
.topbar_r .reg_a{color: #3fb4ee; font-size: 12px;}
.topbar_r .reg_a:hover{color: #3fb4ee;}
.topbar_r .log_icon{display: inline-block; margin: 11px 4px 0px 0px; vertical-align: top; *margin: 0px 4px 0px 0px; *vertical-align: middle; width: 13px; height: 13px; background: url(../images/index/new_index_sprite.png) no-repeat -22px -50px; transition: all .2s;}
.topbar_r .handler_log{position: absolute; top: 0px; right: 0; width: 112px; margin-right: 0px; transition: all .2s;}
.handler_log span{position: relative; display: block; padding: 0px 4px 0px 10px; height: 34px; line-height: 34px; border-left: 1px solid #ddd; border-right: 1px solid #ddd; color: #888; font-size: 12px; transition: all .2s;}
.handler_log a{color: #fff; font-size: 12px;}
.handler_log .arr{position: absolute; top: 14px; right: 6px; width: 12px; height: 7px; background: url(../images/index/new_index_sprite.png) no-repeat -60px -50px; transition: all .2s;}
.handler_log_show{display: none; padding: 5px 0px 10px; width: 110px; background: #fff; border: 1px solid #ddd; border-top: none;}
.handler_log_show a{display: block; margin: 0px 10px; text-align: center; line-height: 22px; color: #333; border-radius: 3px;}
.handler_log_show a:hover{background: #f5f5f5; color: #0074ae;}
.handler_log:hover .arr{transform: rotate(180deg); transform: rotate(0deg)\9; background-position: -60px -57px\9;}
.handler_log:hover{background: #fff; border-radius: 3px; box-shadow: 0px 0px 4px rgba(0,0,0,.2);}
.handler_log:hover span{background: #fff; color: #333;}
.handler_log:hover .handler_log_show{display: block;}
/*logo*/
.new_logo{background:#fff;}
.new_logo .wrap{position: relative; z-index: 0;}
/*nav*/
.new_logo_n{padding: 25px 0px 20px;}
.new_nav{position: absolute; top: 0; right: 0; overflow: hidden;}
.new_nav a{float: left; position: relative; padding: 10px 30px 10px; margin:25px 0px 0px 5px; font-size: 18px; color: #333; overflow: hidden; transition: all .2s; border-radius: 5px 5px 0px 0px;}
.new_nav a em{position:absolute; bottom: -3px; left: 0px; width: 100%; height: 3px; background: #3fb4ee; transition: all .2s;}
.new_nav a:hover, .new_nav a.cur{background: #f5f5f5;}
.new_nav a.cur em{bottom: 0px;}
.new_nav .line{position:absolute; bottom: 0px; left: 0px; width: 0px; height: 3px; background: #3fb4ee; transition: all .2s; -ms-transition:all .2s; -moz-transition: all .2s; -webkit-transition: all .2s; -o-transition: all .2s;}
.new_nav .ani_bg{position:absolute; z-index: -1; bottom: 0px; left: 0px; width: 0px; height: 44px; background: #f5f5f5; border-radius: 5px 5px 0px 0px; transition: all .2s; -ms-transition:all .2s; -moz-transition: all .2s; -webkit-transition: all .2s; -o-transition: all .2s;}

.city{float: left;color: #fff;position: relative;z-index: 20;}
.city span{line-height: 36px;float: left;text-align: center;margin-right: 10px;}
.city em{font-size: 12px;color: #bdbdbd;}
.city a{float: left;color: #d4d3d3;font-size: 12px;}
.city a:hover{color: #d44;}
.city_pos{position: absolute;width: 620px;border: 1px solid #ccc;background: #fff;z-index: 20;top: 100%;left: 35px;border-top: 0;border-radius: 0 0 6px 6px;box-shadow: 0px 2px 4px 0px #999;display: none;}
.city_pos h4{font-weight: bold;border-bottom: 1px solid #ccc;color: #333;padding: 10px;line-height: 20px;}
.city_list{padding: 10px;overflow: hidden;}
.city_list li{float: left;color: #333;margin-top: 3px;}
.city_list li:first-child{margin-top: 0;}
.city_list label{width: 70px;height: 24px;line-height: 24px;font-size: 12px;float: left;text-align: center;background: #f5f5f5;color: #555;margin-right: 5px;border-radius: 2px;}
.city_list div{float: left;width: 520px;}
.city_list span{float: left;margin:0 4px;color: #333;min-width:24px;cursor: pointer;padding:0 7px;font-size: 12px;line-height: 24px;}
.city_list span:hover{border-radius: 2px;background: #d44;color: #fff;}
.city_pop{position: fixed;left: 50%;top: 50%;width: 690px;height: 110px;background: #fff;border-radius: 3px;z-index: 12;margin-left: -365px;margin-top: -55px;transition: all 1s;-moz-transition: all 1s;-webkit-transition: all 1s;-o-transition: all 1s;padding: 0 20px;display: none;}
.city_popTit{height: 70px;padding-left: 40px;padding-top: 40px;border-bottom: 1px solid #ccc;margin-bottom: 20px;}
.selectitem2 .SelectTag{width: 30px;background-position: 0 -95px;}
.go_city{margin: 0 10px;width: 110px;height: 35px;border: 0;background: #d44;color: #fff;border-radius: 2px;}
.go_city:hover{background: #c33;}
.city_more{color: #333;padding-left: 10px;}
.city_more:hover{color: #d44;}
.city_con{height: 0px;overflow-y: scroll;transition: all 1s;-moz-transition: all 1s;-webkit-transition: all 1s;-o-transition: all 1s;}
.city_con li{margin-top: 15px;line-height: 32px;overflow: hidden;}
.city_con label{width: 72px;height: 32px;float: left;text-align: center;background: #f5f5f5;color: #555;margin-right: 10px;border-radius: 2px;}
.city_opt{float: left;width: 590px;}
.city_con span{float: left;margin:0 10px;color: #333;cursor: pointer;padding:0 10px;font-size: 12px;}
.city_con span:hover{border-radius: 2px;background: #d44;color: #fff;}
/*new_footer*/
.new_footer{background: #fff;}
.new_footer a{color: #888; transition: all .2s;}
.new_footer a:hover{color: #0074ae;}
.footer_cor{height: 40px; line-height: 46px; border-top: 3px solid #3fb4ee; color: #ddd; text-align: center;}
.footer_cor p img{vertical-align: middle; margin: -5px 2px 0px 4px;}
.footer_copy{padding: 5px 0px 20px; text-align: center;}
.footer_copy p{font-size: 12px; color: #888; line-height: 30px;}
.footer_copy p img{vertical-align:middle;}
.footer_copy .sup_imgs img{display: none; position: absolute; bottom: 16px; left: 0px; transition: all .2s;}
.footer_copy .sup_imgs a:hover img{opacity: 1; filter: alpha(opacity=100);}
.footer_copy a{position: relative; margin-right: 10px; color: #888; font-size: 12px;}
.footer_copy a:hover img{display: block;}
.copy_ico_1, .copy_ico_2, .copy_ico_3, .copy_ico_4, .copy_ico_5, .copy_ico_6{display: inline-block; width: 16px; height: 16px; vertical-align: middle; background: url(../images/index/new_index_sprite.png) no-repeat -248px -100px;}
.copy_ico_2{width: 23px; background-position: -266px -100px;}
.copy_ico_3{width: 16px; background-position: -291px -100px;}
.copy_ico_4{width: 16px; background-position: -248px -118px;}
.copy_ico_5{width: 17px; background-position: -266px -118px;}
.copy_ico_6{width: 18px; height: 19px; background-position: -285px -118px;}
/*遮蔽层*/
.mask{display:none; position:fixed; z-index:20; top:0; left:0; width:100%; height:100%; background:#000; filter:alpha(opacity=20); opacity:.2;}

/*分页器*/
.pages{font-size:12px; margin:60px 0px 40px; text-align:center; height:34px;}
.pages a{border:1px solid #cbcbcb; background:#fff; display:inline-block; line-height:32px; text-align:center; color:#555;border-radius: 2px;}
.pages a:hover{border:1px solid #dd4444; background:#dd4444; color:#fff;}
.pages .cur{border:none; display:inline-block; line-height:32px; text-align:center; color:#dd4444; font-weight:bold; padding:0px 5px;}
.pageWord{padding:0 5px;}
.pageNum{width:32px; height: 32px;}
/*注册协议*/
.reg_agre{position: fixed;left: 50%;top: 50%;width: 922px;height: 500px;display: none;background: #fff;margin-left: -461px;margin-top: -270px;z-index: 50;border:4px solid rgba(0,0,0,0.1);border-radius: 4px;}
.reg_agretitle{overflow: hidden;padding: 0 10px;background: #f5f5f5;border-bottom: 1px solid #c4c4c4;height: 27px;line-height: 27px;}
.reg_agretitle strong{float: left;font-weight: bold;}
.reg_agretitle a{float: right;border: 1px solid #c4c4c4;height: 15px;color: #333;width: 15px;line-height: 15px;text-align: center;margin-top: 5px;border-radius: 3px;}
.reg_agrecon{padding: 10px;overflow-y: scroll;height: 355px;border-bottom: 1px solid #c4c4c4;}
.reg_agrecon h3{font-weight: bold;font-size: 14px;color: #333;line-height: 30px;}
.reg_agrecon h4{font-weight: bold;font-size: 14px;color: #333;line-height: 30px;}
.reg_agrecon p{font-size: 12px;color: #333;line-height: 25px;padding-left: 10px;}
.reg_agrebtn{width: 220px;margin: 30px auto 0;}
.reg_agrebtn input{border: 0;background: #d44;width: 100%;height: 34px;color: #fff;border-radius: 4px;cursor: pointer;}
.reg_agrebtn input:hover{background: #c33;}
.loan_calTit{float: left;border-left: 1px solid #999;margin-left: 20px;margin-top: 27px;}
.loan_calTit div{border-left: 1px solid #fff;padding-left: 15px;}
/*通过标识*/
i.validata_ok{position:absolute;width:22px;height:32px;right:3px;background:url(../images/regIcon.png) -114px 11px no-repeat;}
.zhanneixin a{color: #333;}
.zhanneixin a:hover{color: #c33;}
.gerLog2 .yzm_l{left: 20px;}
.gerLog2 .newreg_submit{margin: 0;}
.newreg_input em{position: absolute;top: 10px;color: #999;left: 40px;}
/*错误信息样式*/
.newreg_con span.error{width: 281px;border: 1px solid #ffbdbe;background: #FFEBEB;line-height: 22px;font-size: 12px;padding: 0;text-indent: 5px;display:block;clear:both;}
/*验证通过*/
strong.validata_ok{position:absolute;width:22px;height:32px;right:3px;background:url(../images/regIcon.png) -114px 11px no-repeat;}
span.validata_ok{margin-left:10px;height:22px;background:url(../images/regIcon.png) -114px 11px no-repeat;}
span.error {color:#c33;margin-left: 5px;}
.zhanneixin .fz12{font-size: 12px;}
.gerLog2 .yzm_l{left: 20px;}
.gerLog2 .newreg_submit{margin: 0;}
.verify_msg{display:none; position:fixed; z-index: 21; top: 50%; left: 50%; width:100px; padding: 20px 100px 10px; line-height: 30px; text-align: center; font-weight: bold; background: #fff; border: 1px solid #a3a3a3;}
.verify_msg p{font-size: 18px; color: #333; font-weight: bold;}
.verify_msg a{display: block; width: 60px; height: 30px; line-height: 30px; color: #fff; background: #d44; border-radius: 3px; margin: 20px auto 10px; -moz-transition:all .2s ease-in;-webkit-transition:all .2s ease-in;-o-transition:all .2s ease-in;-ms-transition:all .2s ease-in; transition:all .2s ease-in;}
.verify_msg a:hover{background: #ff495a;}
#regTit{float:left;font-size:26px;color:#aaa;padding-left:30px;border-left:1px solid #ccc;line-height:40px;margin-top:35px;cursor:default;margin-left:30px}
.regWrap input[type=text].gb{border:1px solid #7abd54}
.regWrap input[type=text].rb{border:1px solid #f00}
.regWrap input[type=password].gb,.p02_main input[type=password].gb{border:1px solid #7abd54}
.regWrap input[type=password].rb,.p02_main input[type=password].rb{border:1px solid #f00}
.callBg{width: 400px;height: 300px;display: none;position: fixed;left: 50%;margin-left: -200px;top: 50%;margin-top: -150px;z-index: 20;}
.callCont{height: 250px;background: #fff;}
.callCont ul{width: 200px;padding:20px; margin: 0 auto;}
.callCont li{text-align: center;width: 200px;height: 70px;margin:20px 0;background: #f3f3f3;border: 1px solid #ccc;}
.callCont a{color: #333;display: inline-block;padding: 15px 0;width: 200px;}
.callCont li div{margin: 20px 0; }
.callCont li em{font-size: 12px;}
.conditions ul{float: left;margin-right: 30px;}
.conditions li{line-height: 34px;}
.pwd_success .callCont{height: 150px;text-align: center;}
.pwd_success p{font-size: 20px;padding: 40px 0 30px 0;color: #333;}
.pwd_success input{width: 90px;height: 30px;cursor: pointer;margin-right: 10px;border: 1px #c33 solid;border-radius: 2px;background: #d44;color: #fff;}
.pwd_success input:hover{background: #c33;}
/*机构后台*/
.bcf4f6f7{background-color: #f4f6f7;}
.czx_navs1 .backn{background: none;}
.czx_weizhi{font-size: 14px;width: 1100px;margin: 0 auto;margin-top: 18px;color: #636365;margin-bottom: 20px;}
.czx_weizhi a{margin:0 5px;color: #636365;}
.czx_content{background:url(../images/nav_left.jpg) repeat-y #fff;position:relative;margin: 0 auto;width: 1100px;margin-top: 15px;zoom: 1;overflow: hidden;}
.czx_contLeft{float: left;background-color: #d44;text-align: center;}
.czx_contRight{float: left;padding-bottom:30px;width: 940px;background: #fff;min-height:800px;}
.minh1400{min-height: 1600px;}
.czx_navs1{ padding-bottom:27px;overflow: hidden; width: 160px;}
.czx_navs2{font-size: 14px; line-height: 49px; width: 160px;}
.czx_navs2 span{ position: absolute;right:15px;top:20px;width: 7px;height: 12px;background: url("../images/tag.png") -19px -370px no-repeat;}
.czx_navs2 .jiantou1{ background: url(../images/tag.png) -33px -372px no-repeat; width:12px; height:7px; top:23px;}
.czx_navs2 a{ color: #fff; }
.czx_navs2>a{ width: 100%; display: inline-block; position: relative;}
.czx_navs2 ol{overflow:hidden;margin-left:20%;padding-left:30px;*height:1px;border-bottom:1px solid #c33;}
.czx_navs2 .autoh{*height:auto;}
.czx_navs2 li{line-height:30px;font-size: 12px;margin: 5px 0px;text-align: left;height: 30px;position: relative;top:-1px;}
.czx_navs2 ol a:hover{color: #ffeeaa;}
.czx_navs2>a:hover{background: #c33;}
.pzy_navs2>a{background: #c33;}
.pzy_navs2 .pzy_bianse{color: #ffeeaa;}
.czx_title{font-size: 16px;font-weight: 700;padding-top: 15px;padding-left:15px;border-bottom: 1px solid #ededed;overflow: hidden;}
.czx_title h2{padding:4px 15px;border-bottom: 1px solid #d44;float: left;}
.czx_title1{background: #f8f9fb;margin-bottom: 10px;}
.czx_title1 b{margin-left:20px;color:#333;font-size:16px;background:#f8f9fb;line-height:30px;}
.czx_title1 em{color:red}
.bjjsBg{display:none;height:320px;width: 547px;border:1px white solid;background:#fff;position:fixed;top:0px;left:0px;bottom: 0;right: 0;margin: auto;border-radius:2px;z-index: 200;*left:38%;*top:20%;}
.bjjsHeader{padding-left: 10px;height:50px;line-height: 50px;background:url(../images/tcTop.jpg) repeat-x;border-bottom: 1px solid #e4e4e4;}
.bjjsHeader span{float:left;font-size:20px;}
.bjjsCont{background:white;width: 547px;height: 205px;}
.bjjsCont textarea{position: absolute;padding:5px;border: 0;width: 537px;height: 195px;}
.bjjsFooter{height:50px;border-top:1px solid #e4e4e4;background:url(../images/tcBottom.jpg) repeat-x;}
.bjjsFooter div{width: 230px;margin: 10px auto;overflow: hidden;}
.bjjsFooter a{float: left;width: 90px;height: 30px;line-height: 30px;text-align: center;background: #d44;color: #fff;margin-right: 20px;border-radius: 3px;}
.czx_bg{height:50px;position: relative;}
.czx_bg input[type=file]{display: none;}
.czx_bg .chooseImg{left:155px;position:absolute;width:89px;height:28px;text-align:center;line-height:30px;font-size:14px;color:#fff;background:url(../images/btnB.png) 0 0 no-repeat;top:20px;border:0}
.bjjsBtn{position: absolute;width: 89px;height:28px;text-align: center;line-height: 30px;font-size: 14px;color:#fff;background: url('../images/btnB.png') 0 0 no-repeat;top:12px;left: 38%; background:#d44; border-radius:3px;}
.bjjsBtn:hover{background: #c33;}
#showTips{display:none;position:absolute; z-index:20; top:0; left:0; width:100%; height:100%;background:url(../images/darkbg.png);}
.closeBtn,.closeBtn_ok{float: right;width: 23px;height: 23px;background: url(../images/tag.png) -71px -845px no-repeat;margin-right:10px;margin-top:12px;}
.closeBtn:hover{background-position: -106px -845px;}
.czx_shanchuqueren{display:none;width: 330px;height:205px;border:1px white solid;background: #fff;border-radius:4px;position: fixed;left: 50%;margin-left:-172px;top: 50%;margin-top:-106px;z-index: 100;}
.czx_zhifuheader{background:url(../images/tcTop.jpg) repeat-x;height: 50px;padding-left:25px;line-height:50px;font-size: 18px;border-bottom: 1px solid #e4e4e4;}
.czx_zhifuheader span{font-size: 18px;}
.czx_zhifuCont{height:90px;background-color: white;width:330px;text-align: center;overflow: hidden;}
.czx_zhifuCont i{float: left;width: 50px;height: 47px;margin-left: 75px;margin-right: 5px;background: url(../images/tag.png) no-repeat;margin-top: 24px;}
.czx_zhifuCont .dl{background-position: -47px -313px}
.czx_zhifuCont span{font-size: 18px;float: left;line-height: 90px;}
.czx_zhifuCont em{float: left;width: 50px;height: 47px;margin:24px 5px 0 75px;background: url(../images/tag.png) no-repeat;}
.czx_zhifuCont .shanchu1{background-position: -47px -313px}
.czx_zhifuCont b{color:#f00;}
.czx_zhifuCont li{height: 48px;}
.czx_zhifufooter,.czx_bg{overflow: hidden;height: 60px;}
.czx_zhifufooter div,.czx_bg div{width: 200px;margin: 0 auto;height: 70px;}
.czx_zhifufooter a,.czx_bg a{text-align: center;background-color:#d44;font-size: 14px;float: left;margin: 0 auto;display: inline;width: 90px;height: 30px;line-height: 30px;border-radius: 4px;margin:10px 10px 0 0; color: #fff;}
.czx_zhifufooter a:hover,.czx_bg a:hover{background: #c33;}
.czx_zhifufooter .cancel,.czx_nexts .cancel,.czx_bg .cancel{background: #ccc;}
.czx_zhifufooter .cancel:hover,.czx_nexts .cancel:hover,.czx_bg .cancel:hover{background: #bbb;}
.czx_buzou{padding-left:15px;padding-top: 25px;overflow: hidden;}
.czx_buzou span{float:left;width:170px;height:35px;line-height:35px;font-size:16px;padding-left: 37px;color: white;}
.bzFirst{background: url(../images/bz01.png) 0 -112px no-repeat;}
.bzFirst2{background: url(../images/bz01.png) 0 0px no-repeat;}
.bzSecd{background: url(../images/bz01.png) 0 -147px no-repeat;}
.bzSecd2{background: url(../images/bz01.png) 0 -37px no-repeat;}
.bzThird{background: url(../images/bz01.png) 0 -184px no-repeat;}
.bzThird2{background: url(../images/bz01.png) 0 -74px no-repeat;}
/*站内信*/
.zhanneixin{width: 830px;margin-left: 15px;margin-top: 25px;}
.zhanneixin table{width: 910px; border-collapse:collapse;border-spacing:0;}
.zhanneixin table tr{text-align: center; font-size: 14px; font-weight: 500;height: 34px;height: 52px;border-bottom:1px #c9e4ff solid;}
.zhanneixin table th{background: #e7f3ff; text-align: center;border: none;}
.zhanneixin table td{text-align: center; font-size: 12px; font-weight: 500;height: 41px;}
.zhanneixin em{float: left;width: 15px;height: 12px;background: url(../images/tag.png) no-repeat;}
.zhanneixin .markread{background-position: -166px -256px;}
.zhanneixin .unread{background-position: -142px -257px;}
.zhanneixin .w250{width: 310px;}
.zhanneixin .w40{width: 28px;}
.zhanneixin .fz14{font-size: 14px;}
.zhanneixin .unSize{font-weight: bold;}
.zhanenixinbtn{margin-top: 25px;margin-left: 45px;}
.zhanenixinbtn input{display: inline-block;width: 94px;height: 29px;background: #d44;border:none;color: #fff;cursor: pointer;margin-right: 15px;border-radius: 2px;}
.zhanenixinbtn input:hover{background: #c33;}
.zhanneixintab{float: right;margin-right: 90px;margin-top: 20px;}
.zhanneixintab span{width: 22px;height: 22px;border:1px #e5e5e5 solid;display: inline-block;text-align: center;}
.zhanneixintab a{width: 90px;height: 22px;border:1px #efefef solid;display: inline-block;text-align: center;line-height: 22px;color: #d44;}
.zhanneixintab a:hover{background: #c33;color: #fff;}
.znx1{background: #d44;color: #fff;}
.znx1:hover,.zhanneixintab span:hover{background: #c33;color: #fff;}
.czx_checkzhanneixin a{float:right;margin-right:30px;width:70px;height:24px;border:1px solid #c33;border-radius:2px;color:#fff;text-align:center;line-height:24px;background: #d44;}
.czx_checkzhanneixin a:hover{background: #c33;}
.czx_checkzhanneixin .fn_clear{margin-top: 50px;margin-right: 30px;}
.czx_gongxi{margin:0 20px;padding:10px 34px;border-bottom:1px #e7ecf1 solid;}
.czx_gongxi b{margin-left:7px;color:#d44;font-size:20px;margin-right: 20px;}
.czx_gongxi span{font-size: 12px;margin:10px;height: 30px;line-height: 30px;}
.czx_checkzhanneixin p{margin:15px 20px;padding-left:44px;width:85%;line-height: 26px;text-indent: 2em;}
.czx_btnceng{overflow:hidden;margin:25px 20px;padding:20px 0;padding-left:34px;border-top:1px #e7ecf1 solid;background-color:#eefbfc;}

.p02_main .anniu{margin-left: 180px;cursor: pointer;border-radius: 2px;background: #d44;width: 89px;height: 30px;font-size: 12px;border:none; color: #ffffff;text-align: center;}
.anniuy{border-radius: 2px;cursor: pointer; margin-left: 322px;margin-top: 50px;background: #d44;border:none; color: #fff;line-height: 25px;text-align: center;}
.anniuy:hover{background: #c33;}
.anniun{border-radius: 2px;cursor: pointer; margin-left: 16px;margin-top: 50px;background: #8c9197;border:none; color: #fff;line-height: 25px;text-align: center;}
.anniun:hover{background: #6e747b;}
/*修改密码*/
.p02_main {margin-left: 30px;}
.p02_main li{font-size: 14px;margin-left: 10px;position:relative;height: 60px;}
.p02_main li input{width: 298px;height: 20px;padding:5px;line-height: 20px;vertical-align: middle;border: 1px #ccc solid;}
.p02_main li label{text-align: right;width: 75px;display: inline-block;font-size: 12px;}
.p02_main li .lxw_tips{position: absolute;left: 385px;top: 5px;}
.p02_main li big{color: #999;font-size: 12px;margin-left: 5px;}
.p02_main li strong{background-color: #e4e4e4;width: 100px;height: 20px;text-align: center;display: inline-block;margin: 3px 2px 0;}
.p02_main .anniu{margin-left: 180px;*margin-left:110px;cursor: pointer;border-radius: 2px;background: #d44;width: 89px;height: 30px;font-size: 12px;border:none; color: #ffffff;text-align: center;}
.p02_main .anniu:hover{ background:#c33;}
.p02_main .psw2{height: 80px;}
.p02_main .psw2 div{margin-top: 5px;}
.grzl_top{height: 37px;background-color: #edf0f8;width: 910px;}
.grzl_top strong{font-size:14px;text-align: center;line-height: 37px; float: left;margin-left: 8px;}
.grzl_top img{margin-left: 19px;float: left;text-align: center;line-height: 37px;text-align: center;margin-top: 10px;}
.p02_main li strong{background-color: #ccd2dd;width: 100px;height: 20px;text-align: center;display: inline-block;margin: 3px 2px 0;line-height: 20px;font-size: 12px;color: #fff;}
.grzl3{margin-top: 32px;}
.p02_main li strong.ruo{background-color: #ffe5cd;}
.p02_main li strong.zhong{background-color: #ffb06a;}
.p02_main li strong.qiang{background-color: #ff7c07;}
.xiugaimm{width: 793px; height: 50px;border-top: 1px #f8e5da solid; margin:30px;background-color: #fff7f2;display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.xiugaimm span{font-size: 12px;line-height: 50px;padding-left: 24px;}
.xiugaimm span em{margin-left: 0px;color: #d44;}
.xgmm_main{margin-left: 77px;margin-top: 26px;}
.xgmm_main label{width: 70px;height: 16px;text-align: right;}
.xgmm_main span{color: #d44;}
.xgmm_btn a{height:30px;width: 117px;background: #d44;border:1px #c33 solid;margin-left: 69px;margin-top: 26px;line-height: 30px;text-align: center;font-size: 14px; color: #fff;}
.xgmm_btn a:hover{background: #c33;}

/*错误页面*/
.error_body{width:1116px; margin: 80px auto; padding-top:15px; background: url(../images/error_k_t.jpg) no-repeat top left;}
.error_bg_r{padding-right:17px; border-left:1px solid #ddd; background:url(../images/error_k_r.jpg) repeat-y top right;}
.error_bg_b{height: 35px; background: url(../images/error_k_b.jpg) no-repeat left bottom;}
.error_main{padding: 70px 0px 37px 80px;}
.error_main .img{float:left; margin-right: 70px;  width:610px; height:270px;}
.error_main .txt{color: #666;}
.error_main .txt h1{margin: 0px 0px 7px 0px; padding-top: 35px; font-size: 30px; font-weight: bold;}
.error_main .txt p{font-size: 18px; line-height: 30px;}
.error_main .txt a{color: #d44; font-size: 18px;}
.error_main a:hover{color: #d00;}
.error500{padding-left: 55px;}
.error500 .img{width: 500px; height: 270px;}
.error500 .txt h1{padding-top: 58px;}
.error404{padding-left: 55px;}
.error404 .img{margin-right:45px; width: 455px; height: 270px;}
.error404 .txt h1{padding-top: 58px;}
.error404 .txt p{line-height: 36px;}
.still_look{clear: both; height: 180px; padding: 22px 55px 0px 0px;}
.still_look h2{height: 15px; color: #666; border-bottom: 1px solid #ddd; text-align: center;}
.still_look h2 span{display:inline-block; height: 30px; line-height: 30px; font-size: 20px; padding: 0px 15px; background: #fff;}
.still_look_loan{margin: 30px -6px 0px 0px;}
.still_look_loan li{float:left; margin-right:6px; width: 230px; padding: 10px 5px; border: 1px solid #ddd;}
.error_loan_img{float:left; margin:6px 10px 0px 0px; width: 80px;}
.error_loan_txt h3{margin-top: 6px;}
.error_loan_txt h3 a{font-size: 16px; color: #d44;}
.error_loan_txt p{line-height: 26px;  font-size: 12px; color: #333;}
.error_loan_txt em{display: inline-block; margin:-2px 4px 0px 0px; width: 4px; height: 4px; background: #d44; vertical-align: middle;}
.error_loan_txt span{font-size: 14px;}
.error_loan_txt strong{font-size: 20px; color: #d44; font-weight: bold;}

/*没有订单 产品*/
.no_mes{width: 400px; height: 145px; margin: 80px auto; padding:20px 0px 0px 145px; background: url(../images/no_mes_tip_img.jpg) no-repeat center left;}
.no_mes h2{font-size: 18px; color: #444; line-height: 30px; margin-bottom: 10px; padding-top: 10px;}
.no_mes h2 .red{font-size: 18px; color: #d44;}
.no_mes p{font-size: 12px; color: #444; line-height: 30px;}
.no_mes .gray{color: #666;}
.no_mes p .red, .no_mes p a{color: #d44;}
.no_mes p a:hover{text-decoration: underline;}

/*通过标识*/
i.validata_ok{position:absolute;width:22px;height:32px;right:3px;background:url(../images/regIcon.png) -114px 11px no-repeat;}
.zhanneixin a{color: #333;}
.zhanneixin a:hover{color: #c33;}
.gerLog2 .yzm_l{left: 50px;}
.gerLog2 .newreg_submit{margin: 0;}
.newreg_input em{position: absolute;top: 10px;color: #999;left: 40px;}

/*错误信息样式*/
.newreg_con span.error{width: 278px;position:absolute;left:2px;top:39px;border: 1px solid #ffbdbe;background: #FFEBEB;line-height: 22px;font-size: 12px;padding: 0;text-indent: 5px;display:block;clear:both;}

/*验证通过*/
strong.validata_ok{position:absolute;width:22px;height:32px;right:3px;background:url('../images/regIcon.png') -114px 11px no-repeat;}
em.validata_ok{position:absolute;width:22px;height:22px;background:url('../images/regIcon.png') -114px 0px no-repeat;top: 8px;left: 365px;}
.zhanneixin a{color: #333;}
.zhanneixin a:hover{color: #c33;}
.zhanneixin .fz12{font-size: 12px;}
.gerLog2 .yzm_l{left: 50px;}
.gerLog2 .newreg_submit{margin: 0;}
.newreg_input em{position: absolute;top: 10px;color: #999;left: 40px;}

/*输入框提示*/
input.err_bor{border: 1px solid #d44 !important;color: #d44;}
.lxw_tips{color: #d44;overflow: hidden;line-height: 22px;font-size: 12px;text-align: left; clear: both;}
.lxw_tips em.err,.fpw_tips em.err{float: left;margin: 5px 5px 0;width: 12px;height: 12px;background: url(../images/tag.png) no-repeat -104px -165px;position: static;}
.lxw_tips em.corr,.fpw_tips em.corr{float: left;margin: 5px 5px 0;width: 12px;height: 12px;background: url(../images/tag.png) no-repeat -104px -184px;position: static;}
.fpw_tips{line-height: 30px;}
.fpw_tips em.err,.fpw_tips em.corr{margin-top: 9px;}

::-ms-clear{display: none;}
::-ms-reveal{display: none;}

/*.callCounselor{height: 250px;}*/
/*.callCounselor dd{color: #333;margin: 5px 0 7px;}*/
/*.callCounselor .cr{color: #d44;}*/
/*.callCounselor .czx_zhifuCont{height: 200px;}*/
/*.callCounselor dl{float: left;margin:20px 20px 0 50px;}*/
/*.callCounselor a dl{cursor: pointer;}*/

/*百度分享*/
.bdsharebuttonbox{display: none;border-top: 1px solid #dbdbdb;padding-top: 15px;}
.bdsharebuttonbox p{float: left;line-height: 32px;margin-top: 6px;margin-right: 30px;}
.bdsharebuttonbox a.bdmr{margin-right: 20px;background: url(../images/bdshare.png) no-repeat;}
.bdsharebuttonbox a.bds_qzone{background-position: 0 0;}
.bdsharebuttonbox a.bds_tsina{background-position: -32px 0;}
.bdsharebuttonbox a.bds_weixin{background-position:  0 -32px;}
.bdsharebuttonbox a.bds_tqq{background-position:-32px -32px;}
.headRight .ml30{margin-left: 15px;}
.headRight .ml5{margin-left: 5px;}

.czx_ddlb td a,.czx_tjallb td a{font-size: 12px;display: inline-block;padding: 0 10px;height: 23px;background: #d44;color: #fff;line-height: 23px;border-radius: 2px;}
.messageCont{font-size:14px;color:#4c4c4c;line-height:180%;padding:0 25px; text-align: left;text-indent: 2em;}
.messageCont p {font-size: 14px;color: #4c4c4c;line-height:180%; padding:0!important; margin:18px 0 0 0 !important; text-align:left;}
.messageCont div {color: #4C4C4C;font-size: 14px !important;line-height: 180%;margin: 10px 0 0 !important;padding: 0 !important;text-align: left;}
.messageCont p a{color:#0000FF;}
.messageCont p a:hover {text-decoration: underline;}
.messageCont img {border:1px solid #000;}

/*右侧*/
.new_cont_r{float: right; width: 190px;}
.r_adviser, .cont_r_b{margin-bottom: 20px; padding: 0px 10px 10px; background: #fff;border-top: 3px solid #38a1eb; border-bottom: 1px solid #ddd;}
.r_adviser_f{position: relative; height: 426px; overflow: hidden;}
.r_adviser_f ul{position: absolute; top: 0; left: 0; width: 100%;}
.r_adviser h2, .cont_r_b h2{height: 34px; line-height: 34px; font-size: 18px; color: #333; text-align: center;}
.r_adviser li{margin-bottom: 8px; background: #f5f5f5; border-radius: 3px;}
.r_adviser .tx{float: left; margin: 10px 10px 10px 16px; width: 56px; height: 56px;}
.r_adviser .tx img{border-radius: 50%;}
.r_adviser .txt{float: left; width: 80px;}
.r_adviser .name{display: block; padding: 10px 0px 0px; font-size: 18px; color: #333; transition: all .2s;}
.r_adviser a{display: block; cursor: pointer;}
.r_adviser a:hover .name{color: #0074ae;}
.r_adviser a:hover .has_helped{background: #069;}
.r_adviser .has_helped{height: 24px; line-height: 24px; font-size: 12px; color: #fff; text-align: center; clear: both; background: #909da7; border-radius: 0px 0px 3px 3px; transition: all .2s;}
.adviser_icon_1{margin-right: 5px; display: inline-block; vertical-align: middle; width: 16px; height: 16px; background: url(../images/index/new_index_sprite.png) no-repeat -260px 0px;}
.adviser_icon_2{display: inline-block; vertical-align: middle; width: 16px; height: 16px; background: url(../images/index/new_index_sprite.png) no-repeat -280px 0px;}
.cont_r_b{padding: 0px 10px 10px; background: #fff; border-radius: 3px 3px 0px 0px; border-top: 3px solid #38a1eb; border-bottom: 1px solid #ddd;}
.r_adviser .p_n{padding: 5px 0px 0px 50px;}
.r_adviser .p_n a{float: left; position: relative; margin-right: 10px; width: 30px; height: 16px; text-indent: -9999px; background: url(../images/index/new_index_sprite.png) no-repeat -250px -610px;}
.r_adviser .p_n .next:hover{background-position: -250px -635px;}
.r_adviser .p_n .next:active{top: 1px;}
.r_adviser .p_n .prev{background-position: -290px -610px}
.r_adviser .p_n .prev:hover{background-position: -290px -635px;}
.r_adviser .p_n .prev:active{top: 1px;}
.r_adviser .p_n .prev.no, .r_adviser .p_n .prev.no:hover{background-position: -290px -585px; cursor: default;}
.r_adviser .p_n .next.no, .r_adviser .p_n .next.no:hover{background-position: -250px -585px; cursor: default;}
.r_adviser .p_n .prev.no:active, .r_adviser .p_n .next.no:active{top: 0px;}
.cont_r_b .go_count{padding-bottom: 10px; border-bottom: 1px solid #ddd;}
.cont_r_b .go_count a{display: block; width: 170px; height: 60px; background: url(../images/index/new_index_sprite.png) no-repeat 0 -585px;}
.cont_r_b .go_count a:hover{background-position: 0 -645px;}
/*右侧固定*/
.fixed_rb{position: fixed; z-index: 100; right: 10px; bottom: 140px;}
.fixed_rb .li_wx{position: relative; margin-top: 10px;}
.fixed_rb .li_wx a{display: block; width: 44px; height: 44px; background: #3fb4ee; border-radius: 50%; transition: all .1s; background: url(../images/index/new_index_sprite.png) no-repeat -108px 0px\9;}
